<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="Arkha Food">
    <meta name="description" content="restaurant list">
    <meta name="theme-color" content="#FFFFFF" />
    <link rel="apple-touch-icon" href="/icons/icon 192.png">
    <link rel="icon" href="./logo.ico">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,900;1,9..40,200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Arkha Food</title>
</head>
<body>
    <a href="#mainContent" class="skip-content">skip to content</a>

    <header-custom></header-custom>
    <main id="mainContent"></main>
    <footer-custom></footer-custom>

</body>
</html>