<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="restaurant catalogue" />
    <meta name="keywords" content="Arkha Food" />
    <title>Restaurant Apps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,600;0,9..40,900;1,9..40,200&display=swap"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>
  <body>
    <a href="#to-content" class="skip-content">skip to content</a>
    <header>
      <div class="hero-section">
        <h1>Temukan Kelezatan yang Luar Biasa dari Berbagai <br>Masakan dan Lokasi</h1>
        <p>Satu Website Sejuta Restoran</p>
        <a href="#list-restaurant">Jelajahi Sekarang <i class="bi bi-arrow-down"></i></a>
      </div>
      <div class="container">
        <nav id="navbar">
          <div class="nav-brand">
            <a href="/"><span>Arkha</span><span>Food</span></a>
          </div>
          <button class="burger-menu" aria-label="dropdown menu" type="button">
            <i class="bi bi-list" style="font-size: 45px; color: white;"></i>
          </button>
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/arulkharisma/">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="to-content">
      <div class="container-restaurant">
        <h3 id="list-restaurant">Semua restaurant</h3>
        <div class="all-restaurant" id="all-restaurant">
         
        </div>
      </div>
    </main>
    <footer>
      <div class="container-footer">
        <p>copyright &copy; 2023 - Arkha Food</p>
      </div>
    </footer>
  </body>
</html>
